# Telegram Bot
BOT_TOKEN=your_telegram_bot_token
BIJOY_CHAT_ID=
SHYLESH_CHAT_ID=
NIRANJAN_CHAT_ID=

# Anthropic (Claude API)
ANTHROPIC_API_KEY=your_anthropic_api_key

# Supabase
SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key
